@model List<DisosaIris27.Models.Preventa>
@{
    ViewBag.Title = "Index";
}

<h2>Picking</h2>
<br />
<form class="row d-print-none">
    <div class="col-md-4">
        <label class="control-label">Ruta:</label>
        <select class="form-control" name="ruta" id="ruta">
            @foreach (var item in ViewBag.Rutas)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
    </div>
    <div class="col-md-1">
        <br />
        <button type="button" class="btn btn-dark btn-block" onclick="addToList()">+</button>
    </div>
    <div class="col-md-2">
        <br />
        <input name="rutas" id="rutas" hidden />
        <button type="submit" class="btn btn-dark">Generar Picking</button>
    </div>

</form>
<div class="row">
    <ul class="col-md-12 bubble" id="listOfRoutes" style="margin-top:30px"></ul>
</div>
<br />

<h3 style="margin-top:20px">
    Detalles de Rutas @foreach (var item in ViewBag.NombreRutas)
    {
        <small style="border:solid 1px; padding: 4px; margin:4px">@item</small>
    }
</h3>
<br />
<table class="table table-hover table-bordered table-sm">
    <thead class="btn-dark">
        <tr>
            <td># Pedido</td>
            <td colspan="2">Productos</td>
            <td>Cantidad</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {
            <tr>
                <td width="100">@pedido.Id</td>
                <td colspan="3">@pedido.Cliente.Nombre</td>

            </tr>
            foreach (var producto in pedido.PreventaDetalles)
            {
                <tr>
                    <td></td>
                    <td width="100">@producto.CodigoProducto</td>
                    <td>@producto.Producto.Nombre</td>
                    <td>@producto.Cantidad</td>
                </tr>
            }

        }
    </tbody>

</table>

<a id="btn-resumen" class="btn btn-dark" href="@Url.Action("Details","Picking", new { rutas = ViewBag.ListaRutas })" style="display:none">
    Generar Resumen >>
</a>

<script src="~/Content/js/jquery.min.js"></script>
<script>
    $("li").removeClass("navigation__active");
    $("#menu-picking").addClass("navigation__active");
    if ($("table tr").length > 1) {
        $("#btn-resumen").show("slow");
    }

    function addToList() {
        var item = '<li style="display:inline; padding:10px; border:solid; margin: 8px">' + $("#ruta option:selected").text() + '</li>';
        var rutas = $("#rutas").val();
        $("#rutas").val(rutas + $("#ruta option:selected").val() + ",");
        $("#listOfRoutes").append(item);
    }
</script>