@model IEnumerable<DisosaIris27.Models.Vendedor>

@{
    ViewBag.Title = "Vendedores";
}

<h2>Vendedores</h2>

<p>
    @Html.ActionLink("+ Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Código
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


<script src="~/Content/js/jquery.min.js"></script>
<script>
    $("li").removeClass("navigation__active");
    $("#menu-vendedores").addClass("navigation__active");
</script>