@model DisosaIris27.Models.Preventa

@{
    ViewBag.Title = "Create";
    decimal? granTotal = ViewBag.GranTotal;

    TempData["Picking"] = Model.Id;
}

<h2>Registrar Venta</h2>
<br />

<form method="post" action="/Ventas/Create" class="card">
    <div class="form-horizontal card-body">
        <h4>Picking # @Model.Id</h4>
        <hr />
        <div class="row">
            <div class="form-group col-md-3">
                <label>Fecha</label>
                <input type="text" name="Fecha" id="Fecha" class="form-control" value="@Model.Fecha.Value.ToShortDateString()" readonly />
            </div>

            <div class="form-group col-md-3">
                <label>Cliente</label>
                <select class="form-control" id="CodigoCliente" name="CodigoCliente">
                    <option value="@Model.CodigoCliente">@Model.Cliente.Nombre</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label>Vendedor</label>
                <select class="form-control" id="VendedorId" name="VendedorId">
                    <option value="@Model.VendedorId">@Model.Vendedor.Nombre</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label>Gran Total</label>
                <input type="text" name="GranTotal" id="GranTotal" class="form-control GranTotal" value="@string.Format("{0:C}", granTotal)" readonly />
            </div>
        </div>

        <br />

        <table class="table" id="table">
            <thead>
                <tr>
                    <td>Codigo</td>
                    <td>Producto</td>
                    <td>Precio</td>
                    <td>Cantidad <br /> Pedido</td>
                    <td>Devolución</td>
                    <td>Cantidad <br /> Vendida</td>
                    <td>Total</td>
                </tr>
            </thead>

            <tbody>
                @{ var n = 0;}
                @foreach (var item in Model.PreventaDetalles)
                {
                    n++;
                    var precioTag = "p" + n;
                    var devolucionTag = "d" + n;
                    var totalTag = "t" + n;
                    var cantidadTag = "c" + n;
                    var cantidadRealTag = "r" + n;
                    var subTotal = item.Precio * item.Cantidad;

                    <tr>
                        <td>@item.CodigoProducto</td>
                        <td>@item.Producto.Nombre</td>
                        <td id="@precioTag">@string.Format("{0:C}", item.Precio)</td>
                        <td id="@cantidadTag">@item.Cantidad</td>
                        <td><input type="number" id="@devolucionTag" value="0" class="form-control" min="0" max="@item.Cantidad" /></td>
                        <td id="@cantidadRealTag">@item.Cantidad</td>
                        <td id="@totalTag">@string.Format("{0:C}", subTotal)</td>
                    </tr>

                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" align="right">Número de Depósito</td>
                    <td colspan="4"><input name="Deposito" class="form-control" required type="text" /> </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center">
            <input type="hidden" id="devoluciones" name="devoluciones" value="" />
            <input type="submit" class="btn btn-lg btn-light" value="Confirmar Venta" onclick="EnviarDetalles()" />
        </div>
    </div>
</form>


<div>
    @Html.ActionLink("Regresar", "Index")
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

<script>
    $("#d1").focus();

    $(':input[type="number"]').change(
        function () {
            var id = $(this).attr('id');
            var granTotal = 0.00;
            for (var i = 1; i < $("#table tr").length; i++) {
                var cantidadOriginal = $("#c" + i).text();
                var devolucion = $("#d" + i).val();
                var cantidadFinal = cantidadOriginal - devolucion;

                var precio = $("#p" + i).text().substring(1);
                $("#r" + i).text(cantidadFinal);
                var subtotal = precio * cantidadFinal;
                $("#t" + i).text("Q" + subtotal);

                granTotal = granTotal + subtotal;
            }
            $(".GranTotal").text("Q" + granTotal).val("Q" + granTotal);
        });

    function EnviarDetalles() {
        var devoluciones = "";
        for (var i = 1; i < $("#table tr").length - 1; i++) {
            devoluciones = devoluciones + $("#d" + i).val() + ",";
        }
        $("#devoluciones").val(devoluciones);
    }
</script>