@model DisosaIris27.Models.Preventa

@{
    ViewBag.Title = "Pedidos";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">




<h2>Crear</h2>

<div class="form-horizontal">
    <h4>Preventa</h4>
    <br />
    <div class="form-group row">
        <label class="col-md-2">Cliente</label>
        <div class="col-md-4">
            <input class="form-control" type="text" autofocus id="codigoCliente" />
        </div>
        <label class="form-control col-md-6" id="nombreCliente">Nombre del Cliente</label>
    </div>
    <div class="form-group row">
        <label class="col-md-2">Vendedor</label>
        <div class="col-md-4">
            <select class="form-control" id="codigoVendedor">
                @foreach (var item in ViewBag.VendedorId)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-2">
            Código
            <input class="form-control" type="text" id="Codigo" />
        </div>
        <div class="form-group col-md-3">
            Nombre
            <input class="form-control" type="text" disabled id="Nombre" />
        </div>
        <div class="form-group col-md-1">
            Cantidad
            <input class="form-control text-right" type="number" min="1" value="1" id="Cantidad" onchange="CalcularSubTotal()" />
        </div>
        <div class="form-group col-md-2">
            Precio
            <input class="form-control text-right" type="number" min="1" value="1" id="Precio" onchange="CalcularSubTotal()" disabled />
        </div>

        <div class="form-group col-md-1">
            Descuento
            <input class="form-control text-right" type="number" min="0" value="0" id="Descuento" onchange="CalcularSubTotal()" /> 
            <span style="float: right;position: relative;top: -25px;">%</span>
        </div>

        <div class="form-group col-md-2">
            Total
            <input class="form-control text-right" type="number" min="1" value="0" id="Total" disabled /> 
        </div>
        <div class="form-group col-md-1">
            <br />
            <button type="button" class="btn btn-dark" id="BtnAgregar" onclick="AgregarItems()">Agregar</button>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Codigo</td>
                <td>Nombre</td>
                <td>Cantidad</td>
                <td>Precio</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody id="tableDetail"></tbody>
        <tfoot>
            <tr style="font-weight:bold">
                <td colspan="4">Total</td>
                <td id="TotalGlobal">0</td>
            </tr>
        </tfoot>
    </table>
    <div class="text-center">
        <button class="btn btn-lg btn-dark" onclick="GuardarPedido()">Guardar <i class="zmdi zmdi-check" style="margin-left:5px"></i></button>
    </div>
</div>


<div>
    @Html.ActionLink("Regresar", "Index")
</div>


<script src="~/Content/js/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    var n = 1; // Número de filas en la tala
    function AgregarItems() {
        var codigo = $("#Codigo").val();
        var nombre = $("#Nombre").val();
        var cantidad = $("#Cantidad").val();
        var precio = $("#Precio").val();
        var subtotal = $("#Total").val();
        var total = $("#TotalGlobal").text();
        total = Number(total) + Number(subtotal);
        $("#TotalGlobal").text(total.toFixed(2));

        var fila = $('<tr class="bubble"><td id="c' + n + '">' + codigo + '</td><td id="n' + n + '">' + nombre + '</td><td id="q' + n + '">' + cantidad + '</td><td id="p' + n + '">' + precio + '</td><td id="t' + n + '">' + subtotal + '</td></tr>');
        $('#tableDetail').append(fila);
        n = n + 1; // conteo de filas en tabla

        $("#Codigo").val("");
        $("#Nombre").val("");
        $("#Descuento").val(0);
        $("#Cantidad").val(1);
        $("#Precio").val(0);
        $("#Total").val(0);
        $("#Codigo").focus();
    }

    function CalcularSubTotal() {
        var cantidad = $("#Cantidad").val();
        var precio = $("#Precio").val();
        var descuento = $("#Descuento").val();
        var subtotal = 0.0;
        if (descuento > 0) {
            subtotal = (precio * cantidad) - ((precio * cantidad) * descuento / 100);
        } else {
            subtotal = precio * cantidad;
        }
        $("#Total").val(subtotal.toFixed(2));    
    }

    function ObtenerNombreCliente(id) {
        $.get("/api/Data/ObtenerNombreCliente/" + id, function (data) {
            $("#nombreCliente").text(data.toString());
        });
    }
    $("#codigoCliente")
        .keypress(function (e) {
            if (e.which == 13 || e.which == 9) {
                ObtenerNombreCliente($("#codigoCliente").val())
            }
        })
        .focusout(function () {
            ObtenerNombreCliente($("#codigoCliente").val())
        });

    function ObtenerProducto(id) {
        $.get("/api/data/ObtenerProducto/" + id, function (data) {
            console.log(data);
            $("#Nombre").val(data.Nombre);
            $("#Precio").val(data.Precio);
            CalcularSubTotal();
        });
    }

    $("#Codigo")
        .keypress(function (e) {
            if (e.which == 13 || e.which == 9) {
                ObtenerProducto($("#Codigo").val())
            }
        })
        .focusout(function () {
            ObtenerProducto($("#Codigo").val())
        });

    function GuardarPedido() {
        var cliente = $("#codigoCliente").val().trim();
        var vendedor = $("#codigoVendedor").val().trim();
        var pedidos = [];

        for (var i = 1; i < n; i++) {  // n = conteo de filas en tabla
            var c = $("#c" + i).text();
            var q = $("#q" + i).text();
            var p = $("#p" + i).text();

            var pedido = { CodigoProducto: c, Cantidad: q, Precio: p };
            pedidos.push(pedido);
        }
        var listaPedidos = { Listado: pedidos };
        $(".page-loader").fadeToggle();

        var url = "/api/data/PostPreventa/" + cliente + "/" + vendedor + "/";
        console.log(url);
        $.post(url, listaPedidos)
            .done(function (result) {
                console.log(result);
                alert('Pedido # ' + result);
                document.location.href = "/Preventas";
            });
    }

</script>


<script>
    $("li").removeClass("navigation__active");
    $("#menu-pedidos").addClass("navigation__active");

    var productos = @Html.Raw(Json.Encode(@ViewBag.productos));
    $("#Codigo").autocomplete({ source: productos });

    var clientes = @Html.Raw(Json.Encode(@ViewBag.clientes));
    $("#codigoCliente").autocomplete({ source: clientes });
</script>