<div class="content__inner">
    <header class="content__title">
        <h1>IRIS 27</h1>
        <small>Inspección y Registro de Inventario y Salidas</small>

    </header>

    <div class="row">
        <div class="card-demo col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title">PRODUCTOS</h4>
                    <h6 class="card-subtitle">Mantenimiento de Productos</h6>

                    <h1 class="zmdi zmdi-store" style="font-size:5em"></h1>
                    <br />
                    <a href="@Url.Action("Index","Productos")" class="btn btn-dark">Acceder</a>
                </div>
            </div>
        </div>
        <div class="card-demo col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title">PROVEEDORES</h4>
                    <h6 class="card-subtitle">Mantenimiento de Proveedores</h6>

                    <h1 class="zmdi zmdi-account-circle" style="font-size:5em"></h1>
                    <br />
                    <a href="@Url.Action("Index","Proveedores")" class="btn btn-dark">Acceder</a>
                </div>
            </div>
        </div>
        <div class="card-demo col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title">CLIENTES</h4>
                    <h6 class="card-subtitle">Mantenimiento de Clientes</h6>

                    <h1 class="zmdi zmdi-accounts" style="font-size:5em"></h1>
                    <br />
                    <a href="@Url.Action("Index","Clientes")" class="btn btn-dark">Acceder</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-demo col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title">PICKING</h4>
                    <h6 class="card-subtitle">Mantenimiento de Pedidos</h6>

                    <h1 class="zmdi zmdi-shopping-cart" style="font-size:5em"></h1>
                    <br />
                    <a href="@Url.Action("Index","Preventas")" class="btn btn-dark">Acceder</a>
                </div>
            </div>
        </div>
        <div class="card-demo col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title">VENTAS</h4>
                    <h6 class="card-subtitle">Consolidación de Ventas</h6>

                    <h1 class="zmdi zmdi-money" style="font-size:5em"></h1>
                    <br />
                    <a href="@Url.Action("Index","Ventas")" class="btn btn-dark">Acceder</a>
                </div>
            </div>
        </div>
        <div class="card-demo col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title">REPORTES</h4>
                    <h6 class="card-subtitle">Detalles de movimientos</h6>

                    <h1 class="zmdi zmdi-chart" style="font-size:5em"></h1>
                    <br />
                    <a href="@Url.Action("Index","Reportes")" class="btn btn-dark">Acceder</a>
                </div>
            </div>
        </div>
    </div>
</div>
