@model DisosaIris27.Models.Compra

@{
    ViewBag.Title = "Compras";
    decimal? total = 0;
}

<div>
    <h4>Detalles de Compra # @Model.Id</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.Fecha) <br />
            @Model.Fecha.Value.ToShortDateString()
        </div>

        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.Comentario) <br />
            @Html.DisplayFor(model => model.Comentario)
        </div>
            
        <div class="col-md-3">
            Proveedor <br />
            @Html.DisplayFor(model => model.Proveedor.Nombre)
        </div>
    </div>
</div>
<div style="margin-top:20px"></div>

<table class="table table-bordered">
    <tr>
        <td>Codigo</td>
        <td>Producto</td>
        <td>Costo</td>
        <td>Cantidad</td>
        <td>Total</td>
    </tr>
    @foreach (var item in Model.CompraDetalles)
    {
        <tr>
            <td>@item.CodigoProducto</td>
            <td>@item.Producto.Nombre</td>
            <td>@string.Format("{0:C}", item.Costo)</td>
            <td>@item.Cantidad</td>
            <td>@string.Format("{0:C}", (item.Costo * item.Cantidad))</td>
        </tr>
        total = total + ( item.Costo * item.Cantidad);
    }
    <tr>
        <td colspan="4" align="right" style="padding-right:10px">TOTAL</td>
        <td>@string.Format("{0:C}", total)</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Regresar", "Index")
</p>
