@model PagedList.IPagedList<DisosaIris27.Models.Compra>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Historial de Compras</h2>

<p>
    @Html.ActionLink("+ Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Fecha
        </th>
        <th>
            Proveedor
        </th>
        <th>
            Comentario
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @item.Fecha.ToString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>

            <td>
                @*@Html.ActionLink("Modificar", "Edit", new { id = item.Id }) |*@
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<br />
<div class="text-center">

    @Html.PagedListPager(Model, page => Url.Action("Index",
                                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

<script src="~/Content/js/jquery.min.js"></script>
<script>
    $("li").removeClass("navigation__active");
    $("#menu-compras").addClass("navigation__active");
</script>