<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Iris27 ~ @ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/img/logo.png" />
    <!-- Vendor styles -->
    <link rel="stylesheet" href="~/Content/material-design-iconic-font.min.css">
    @*<link rel="stylesheet" href="~/Content/animate.min.css">*@
    <link rel="stylesheet" href="~/Content/jquery.scrollbar.css">
    @*<link rel="stylesheet" href="~/Content/fullcalendar.min.css">*@
    <!-- App styles -->
    <link rel="stylesheet" href="~/Content/app.min.css">
    <link href="~/Content/style.css" rel="stylesheet" />
</head>


<body data-sa-theme="1">
    <main class="main">
        <div class="page-loader">
            <div class="page-loader__spinner">
                <svg viewBox="25 25 50 50">
                    <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        <header class="header">
            <div style="cursor:pointer" class="navigation-trigger hidden-xl-up" data-sa-action="aside-open" data-sa-target=".sidebar">
                <i class="zmdi zmdi-menu"></i>
            </div>
            <div class="logo hidden-sm-down">
                <h1><a href="@Url.Action("Index","Home")">Iris 27 - <small>Store Edition</small></a></h1>
            </div>
        </header>
        <aside class="sidebar">
            <div class="scrollbar-inner">
                <div class="user">
                    <div class="user__info" data-toggle="dropdown">
                        <img class="user__img" src="~/img/logo.jpg" alt="">
                        <div>
                            <div class="user__name">DISOSA GT</div>
                            <div class="user__email">@Session["usuario"]</div>
                        </div>
                    </div>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Edit","Perfil", new { nombre = Session["usuario"].ToString().Trim() })">Mi Perfil</a>
                        <a class="dropdown-item" href="@Url.Action("Logout","Login")">Cerrar Sesión</a>
                    </div>
                </div>
                <ul class="navigation">
                    <li class="" id="menu-inicio"><a href="@Url.Action("Index","Home")"><i class="zmdi zmdi-home"></i> Inicio</a></li>
                    <li class="" id="menu-productos"><a href="@Url.Action("Index","Productos")"><i class="zmdi zmdi-store"></i> Productos</a></li>
                    <li class="" id="menu-compras"><a href="@Url.Action("Index","Compras")"><i class="zmdi zmdi-shopping-cart-plus"></i> Compras</a></li>
                    <li class="" id="menu-proveedores"><a href="@Url.Action("Index","Proveedores")"><i class="zmdi zmdi-account-circle"></i> Proveedores</a></li>

                    <li class="navigation__sub" id="menu-clientes">
                        <a href="">
                            <i class="zmdi zmdi-accounts"></i> Clientes
                        </a>
                        <ul id="subMenuClientes">
                            <li class="" id="menu-clientes-detalle"><a href="@Url.Action("Index","Clientes")">Clientes</a></li>
                            <li class="" id="menu-rutas"><a href="@Url.Action("Index","Rutas")">Rutas</a></li>
                        </ul>
                    </li>

                    <li class="" id="menu-vendedores"><a href="@Url.Action("Index","Vendedores")"><i class="zmdi zmdi-assignment-account"></i> Vendedores</a></li>
                    <li class="" id="menu-pedidos"><a href="@Url.Action("Index","Preventas")"><i class="zmdi zmdi-shopping-cart"></i> Pedidos</a></li>
                    <li class="" id="menu-ventas"><a href="@Url.Action("Index","Ventas")"><i class="zmdi zmdi-money"></i> Ventas</a></li>
                    <li class="" id="menu-picking"><a href="@Url.Action("Index","Picking")"><i class="zmdi zmdi-assignment"></i> Picking</a></li>


                    <li class="navigation__sub" id="menu-gastos">
                        <a href="">
                            <i class="zmdi zmdi-trending-down"></i> Gastos
                        </a>
                        <ul>
                            <li class="" id="menu-gastos-rubros"><a href="@Url.Action("Index","Gastos")">Rubros</a></li>
                            <li class="" id="menu-gastos-registrar"><a href="@Url.Action("Registrar","Gastos")">Registrar</a></li>
                        </ul>
                    </li>


                    <li class="navigation__sub" id="menu-reportes">
                        <a href="">
                            <i class="zmdi zmdi-chart"></i> Reportes
                        </a>
                        <ul>
                            <li class="" id="menu-reporte-ventas"><a href="@Url.Action("Ventas","Reportes")">Ventas</a></li>
                            <li class="" id="menu-reporte-dia"><a href="@Url.Action("VentasPorDia","Reportes")">Ventas por Día</a></li>
                            <li class="" id="menu-reporte-compras"><a href="@Url.Action("Compras","Reportes")">Compras</a></li>
                            <li class="" id="menu-reporte-gastos"><a href="@Url.Action("Gastos","Reportes")">Gastos</a></li>
                            <li class="" id="menu-reporte-financiero"><a href="@Url.Action("Financiero","Reportes")">Financiero</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>

        <section class="content">

            @RenderBody()
            <footer class="footer hidden-xs-down">

                <p>© IRIS 27</p>
                <ul class="nav footer__nav">
                    <a class="nav-link" href="@Url.Action("Index","Home")">Inicio</a>
                    <a class="nav-link" href="">Soporte</a>
                </ul>
            </footer>
        </section>
    </main>

    <!-- Javascript -->
    <!-- Vendors -->
    <script src="~/Content/js/jquery.min.js"></script>
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.scrollbar.min.js"></script>
    <script src="~/Content/js/jquery-scrollLock.min.js"></script>
    @*   <script src="~/Content/js/salvattore.min.js"></script>
        <script src="~/Content/js/jquery.flot.js"></script>
        <script src="~/Content/js/jquery.flot.resize.js"></script>
        <script src="~/Content/js/curvedLines.js"></script>
        <script src="~/Content/js/jquery.vmap.min.js"></script>
        <script src="~/Content/js/jquery.vmap.world.js"></script>
        <script src="~/Content/js/jquery.easypiechart.min.js"></script>
        <script src="~/Content/js/jquery.peity.min.js"></script>
        <script src="~/Content/js/moment.min.js"></script>
        <script src="~/Content/js/fullcalendar.min.js"></script>*@
    <!-- Charts and maps-->
    @*<script src="~/demo/js/flot-charts/curved-line.js"></script>
        <script src="~/demo/js/flot-charts/line.js"></script>
        <script src="~/demo/js/flot-charts/dynamic.js"></script>
        <script src="~/demo/js/flot-charts/chart-tooltips.js"></script>
        <script src="~/demo/js/other-charts.js"></script>
        <script src="~/demo/js/jqvmap.js"></script>*@
    <!-- App functions and actions -->
    <script src="~/Content/js/app.min.js"></script>

</body>






</html>
