@model IEnumerable<DisosaIris27.Models.Gasto>

@{
    ViewBag.Title = "Gastos";
}

<h2>Gastos</h2>

<p>
    @Html.ActionLink("+ Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { id = item.Codigo }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Codigo }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Codigo })
            </td>
        </tr>
    }

</table>


<script src="~/Content/js/jquery.min.js"></script>
<script>
    $("li").removeClass("navigation__active");
    $("#menu-gastos").addClass("navigation__active").children("ul").slideDown();
    $("#menu-gastos-rubros").addClass("navigation__active");
</script>